.developer-btn{
    background-color: rgba(125,99,158,1);
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 17px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
.add-developer{
    display: block;   
}
.profile-icons{
    height: 5vh;
}
.input-box {
    padding: 5px;   
}

.add-dev-heading{
    font-size: 20px;
    margin: 20px;
}