.search-wrapper {
  background-color: rgb(194 196 196);
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: 0 30em;
  border-radius: 1em;
  height: 50px;
}

.search-wrapper input[type="text"] {
  padding: 1em 0.5em;
  border-radius: 0.5em;
  margin: 0 1em;
  width: 100%;
  outline: none;
  font-size: 1em;
  margin: -5px 1px;
}
.hrline {
  margin: 0 3rem;
}

.dev-heading {
  font-size: 38px;
  font-weight: 400;
}
