.dev-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
img.profile {
    max-width: 60px;
    border-radius: 30px;
}
.list {
    display: flex;
    justify-content: flex-start;
    margin: 1px 15px;
}
.no-dev-found {
    margin: 1px 1px;
    font-size: 2px;
}
.dev-name{
    /* font-size: 1.5px; */
    font-weight: 600;
    text-decoration: none;
    color: #9F8E63;    
}
.north-east{
    color:#0768FA;
}