.dev-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
img.profile {
    max-width: 40px;
    border-radius: 38px;
}
.list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 5px;
}
.no-dev-found {
    margin: 1px 1px;
    font-size: 2px;
}
.dev-name{
    font-weight: 600;
    text-decoration: none;
    color: #9F8E63;    
}
.north-east{
    color:#0768FA;
}
.redirect-arrow-list{
    height: 18px;
    fill: rgba(16,104,250,1);
    margin-left: 10px;
    margin-right: 10px;
}
.dev-list-name{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

/* media queries */
@media (min-width: 1024px) {
    .dev-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-right: 100px;
    }
    img.profile {
        max-width: 77px;
        border-radius: 38px;
    }
    .dev-list-name{
        margin-left: 17px;
        margin-right: 15px;
        font-size: 30px;
    }
    .list-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
        gap: 1em;
    }
}