.Modal {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 500px;
    /* border: 1px solid #ccc; */
    padding: 16px;
    left: 200px;
    right: 200px;
    top: 200px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    overflow-y: auto;
  }
  
  @media (min-width: 600px) {
    .Modal {
      width: 800px;
      margin: 0 auto;
      /* left: calc(50px - 250px); */
    }
  }
  