.heart  {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 26px;
  width: 30px;
  /* top: 10px; */
}

.footer {
  background-color: #2f2e41;
  color: #fff;
  font-size: 3ch;
  padding: 30px;
}
